body{
    background-image: url('https://i.pinimg.com/originals/b9/98/e5/b998e56f9786edab584ab3000651350d.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
}